<div class="profile">
    <section class="image">
        <img style="height: 200px; width: 200px;" src="assets\images\offer1.png" alt="">
    </section>
    <section class="containts">
        <form #userDetailsForm [formGroup]="userdetailsForm" (ngSubmit)="SubmiteForm()" class="">
            <div class="user-details">
                <div class="user-name">
                    <label for="name">Name</label>
                    <input type="text" [value]="userName" [disabled]="isDisabled" name="name">
                </div>

                <div class="user-email">
                    <label for="email">Email</label>
                    <input type="email" [value]="userEmail" [disabled]="isDisabled" name="email">
                </div>

                <div class="user-phone">
                    <label for="phone">Phone Number</label>
                    <input type="number" [disabled]="isDisabled" name="phone">
                </div>

                <div class="user-password">
                    <label for="password">Password</label>
                    <input type="password" value="XXXXX" [disabled]="isDisabled" name="password">
                </div>

            </div>
            <p style="text-align: center; margin: 2rem;">User Address</p>
            <div class="address">

                <div class="house">
                    <label for="house">House Number</label>
                    <input type="text" [disabled]="isDisabled" name="house">
                </div>

                <div class="city">
                    <label for="city">City/Town</label>
                    <input type="text" maxlength="5" [disabled]="isDisabled" name="city">
                </div>

                <div class="locality">
                    <label for="locality">Locality</label>
                    <input type="text" [disabled]="isDisabled" name="locality">
                </div>

                <div class="pin-code">
                    <label for="pin-code">Pin Code</label>
                    <!-- <input type="number" #pinCode (keyup)="getPinCode(pinCode.value)" [disabled]="isDisabled" name="pin-code"> -->
                    <input [style.border-color]="borderColor" type="number" #pinCode (keyup)="getPinCode(pinCode.value)"
                        [disabled]="isDisabled" name="pin-code">
                </div>

                <div class="landmark">
                    <label for="landmark">Landmark</label>
                    <input type="text" [disabled]="isDisabled" name="landmark">
                </div>

                <div class="state">
                    <label for="state">State</label>
                    <input type="text" [value]="state" disabled name="state">
                </div>

                <div class="alternative-phone">
                    <label for="alternative-phone">Alternative</label>
                    <input type="number" [disabled]="isDisabled" name="alternative-phone">
                </div>

                <div class="home-work">
                    <label for="">Home/Work</label>
                    <div class="home-work-btn">
                        <button [style.background-color]="HomeColor" class="home-btn" [disabled]="isDisabled"
                            (click)="homeBtn()">
                            <p>Home</p><i class='bx bx-home'></i>
                        </button>
                        <button [style.background-color]="WorkColor" [disabled]="isDisabled" class="work-btn"
                            (click)="workBtn()">
                            <p>Work</p><i class='bx bx-briefcase-alt'></i>
                        </button>
                    </div>

                </div>

                <button (click)="SubmiteForm()" class="update-profile-btn">{{changeProfileBtn}}</button>
            </div>
        </form>


    </section>
</div>