@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tab {
  @media screen and (max-width: 720px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.profile {
  padding: 1rem;
  //   margin: 0 auto;
  margin: auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
}

.image {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Set a fixed height for the image container */
}

.image img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.containts {
  padding: 20px;
}

.user-details {
  justify-content: center;
  //   background-color: lightblue;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: auto;
  @include mobile() {
    width: 100%;
  }
}

.user-details input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.user-details label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.address {
  //   background-color: lightcoral;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin-top: 20px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.address div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.address input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.address label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.address .update-profile-btn {
  margin-top: 2rem;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  border: 1px solid #db7f79;
  border-radius: 5px;
  color: white;
  background-color: #db7f79;
  box-shadow: 0px 5px 10px #db7f79;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    border: 1px solid #c96c80;
    background-color: #c96c80;
    box-shadow: 0px 7px 10px #c96c80;
  }
}

.house,
.city,
.locality,
.pin-code,
.landmark,
.state,
.alternative-phone,
.home-work {
  width: 50%;
}

.home-work {
  .home-work-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    button {
      padding: 0.5rem 0.6rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      .bx {
        display: none;
      }

      @include mobile() {
        padding: 0.4rem 0.6rem;
        p {
          display: none;
        }
      }

      @include tab() {
        .bx {
          display: block;
        }
      }
    }
  }
}
