<div class="favourite">
    <div class="all-items">
        <div class="item">
            <img src="assets\images\smoothie5.jpg" alt="">
            <p>Banana Smoothie</p>
            <p>Price : <small>50 Rs</small></p>
            <div class="btns">
                <button mat-raised-button>Remove</button>
                <button mat-raised-button color="accent">Buy Now</button>
            </div>
        </div>
        <div class="item">
            <img src="assets\images\smoothie5.jpg" alt="">
            <p>Banana Smoothie</p>
            <p>Price : <small>50 Rs</small></p>
            <div class="btns">
                <button mat-raised-button>Remove</button>
                <button mat-raised-button color="accent">Buy Now</button>
            </div>
        </div>
        <div class="item">
            <img src="assets\images\smoothie5.jpg" alt="">
            <p>Banana Smoothie</p>
            <p>Price : <small>50 Rs</small></p>
            <div class="btns">
                <button mat-raised-button>Remove</button>
                <button mat-raised-button color="accent">Buy Now</button>
            </div>
        </div>

    </div>
</div>