@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tab {
  @media screen and (max-width: 720px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.test-class {
  color: blue;
  @include mobile() {
    width: 90%;
    text-align: center;
    color: red;
  }
}
