<div class="home_page">
  <div class="hero_section">
    <div class="left_hero">
      <div>
        <p>Smoothies delivered at your door steps !</p>
        <p>Try out Smoothies customised and delivered at with all the nutritions packed</p>
        <button class="Order_btn">Order Now</button>
      </div>
    </div>
    <div class="right_hero">
      <img src="assets\images\rightHero.png" id="" alt="logo" />
    </div>
    <div class="order_now">
      <button class="Order_btn">Order Now</button>
    </div>
  </div>

  <div class="offer_section">
    <h2 style="text-align: center;margin: 3rem 0px;">Checkout exciting offfers !</h2>
    <div class="all_card">
      <div class="arrow" id="prev"><i class='bx bx-chevron-left'></i></div>
      <div class="arrow" id="next"><i class='bx bx-chevron-right'></i></div>

      <div id="carousel-vp">
        <div id="card-inner">
          <div style="background-color: #fac2bc;" class="card">
            <img src="assets\images\offer1.png" alt="">
            <div>
              <p>Customise</p>
              <p>On your first order for free no additional charges apply .!</p>
              <button>Order Now</button>
            </div>
          </div>
          <div style="background-color: #ecc08d;" class="card">
            <img src="assets\images\offer1.png" alt="">
            <div>
              <p>Customise</p>
              <p>On your first order for free no additional charges apply .!</p>
              <button>Order Now</button>
            </div>
          </div>
          <div style="background-color: lightblue;" class="card">
            <img src="assets\images\offer1.png" alt="">
            <div>
              <p>Customise</p>
              <p>On your first order for free no additional charges apply .!</p>
              <button>Order Now</button>
            </div>
          </div>
          <div style="background-color: #AEC3AE;" class="card">
            <img src="assets\images\offer1.png" alt="">
            <div>
              <p>Customise</p>
              <p>On your first order for free no additional charges apply .!</p>
              <button>Order Now</button>
            </div>
          </div>
          <div style="background-color: #A68DAD;" class="card">
            <img src="assets\images\offer1.png" alt="">
            <div>
              <p>Customise</p>
              <p>On your first order for free no additional charges apply .!</p>
              <button>Order Now</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="discover_section">
    <h2 style="text-align: center;margin: 3rem 0px;font-size:1.2rem; padding: 0.5rem;">🍹Discover <span
        style="color: #c96c80;font-size: 1.8rem;">Delicious</span> Smoothies 😋</h2>
    <div class="all-discovers">
      <ng-container *ngFor="let x of data">
        <div class="discover">
          <img style=" padding: 0.1rem; border-radius: 50%;" [style.backgroundColor]="x.bg"
            src='assets\images\{{x.url}}' alt="">
          <p>{{x.title}}</p>
          <p>{{x.subTitle}}</p>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="custom_section">

    <section class="left-custom">
      <img src="assets\images\offer1.png" alt="">
    </section>
    <section class="right-custom">
      <h2>Create your custom smoothies</h2>
      <form>
        <label for="quantity">Select Quantity</label>
        <select name="quantity">
          <option value="250 ml">250 ml</option>
          <option value="300 ml">300 ml</option>
          <option value="opel">350 ml</option>
          <option value="audi">400 ml</option>
          <option value="audi">500 ml</option>
          <option value="audi">800 ml</option>
          <option value="audi">1 L</option>
        </select>
        <label for="fruits">Add Fruits/Vegies</label>
        <select name="fruits">
          <option value="banana">Banana</option>
          <option value="mango">Mango</option>
          <option value="kiwi">Kiwi</option>
          <option value="orange">Orange</option>
          <option value="pineapple">Pineapple</option>
          <option value="pomegranate">Pomegranate</option>
          <option value="butterscotch">Butterscotch</option>
          <option value="blueberries">Blueberries</option>
          <option value="chocolate">Chocolate</option>
          <option value="mixFruit">Mix Fruits</option>

        </select>
        <label for="milk">Add Ice-Cream Type</label>
        <select name="milk">
          <option value="ice">Plain Ice</option>
          <option value="chocolate">Chocolate</option>
          <option value="vanilla">Vanilla</option>
          <option value="butterscotch">Butterscotch</option>
          <option value="none">None</option>
        </select>
        <label for="protein">Select Protein</label>
        <select name="protein">
          <option value="whey">Whey</option>
          <option value="casein-blend">Casein Blend</option>
          <option value="dextrins">Dextrins</option>
          <option value="inulin">Inulin</option>
          <option value="psyllium-husk">Psyllium Husk</option>
        </select>
        <label for="toppings">Add Toppings</label>
        <select name="toppings">
          <option value="DryFruits">Dry Fruits</option>
          <option value="Granola">Granola</option>
          <option value="Fresh Berries">Fresh Berries</option>
          <option value="Coconut">Coconut</option>
          <option value="Seeds">Seeds</option>
          <option value="strawberries">Strawberries</option>
          <option value="Nuts and Seeds">Nuts and Seeds</option>
          <option value="chia seeds">chia seeds</option>
          <option value="Chopped Nuts">Chopped Nuts</option>
          <option value="Nut Butter">Nut Butter</option>
          <option value="Cacao Nibs">Cacao Nibs</option>
        </select>

        <div class="btns">
          <div class="feb-cart-btn">
            <button><i class='bx bx-heart'></i></button>
            <button><i class='bx bx-cart'></i></button>
          </div>
          <button class="order_now">order now</button>
        </div>
      </form>
    </section>

  </div>
  <app-faq></app-faq>
  <app-footer></app-footer>
</div>