<div id="nav">
  <div class="tab">
    <button class="menu_btn">
      <div class="dropdown">
        <button class="dropbtn"><i class="bx bx-menu bx-sm"></i></button>
        <div class="dropdown-content">
          <a routerLink="menu">Menu</a>
          <a routerLink="orders">My Orders</a>
          <a routerLink="favourite">Favorite</a>
          <a onclick="signOut()">Sign Out</a>
        </div>
      </div>
    </button>
    <a routerLink=""><img src="assets\images\logo.png" id="logo" alt="logo" /></a>
    <div class="user_card_btn">
      <button class="user_btn"><a routerLink="profile"><i class='bx bx-user'></i></a></button>
      <button routerLink="cart" class="cart_btn"><i class="bx bx-cart"></i></button>
    </div>
  </div>
  <div class="desktop">
    <nav style="display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;">
      <a routerLink=""><img src="assets\images\logo.png" id="logo" alt="logo" /></a>
      <ul class="navmenu">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="menu">Menu</a></li>
        <li><a routerLink="orders">My Orders</a></li>
        <li><button class="accounts_btn">
            <div class="dropdown">
              <button class="dropbtn">Account</button>
              <div class="dropdown-content">
                <a routerLink="profile">Profile</a>
                <a routerLink="favourite">Favorite</a>
                <a (click)="signOut()">Sign Out</a>
              </div>
            </div>
          </button></li>
        <li><button routerLink="cart" class="cart_btn"><i class='bx bx-sm bx-cart'></i></button></li>
      </ul>
    </nav>
  </div>
</div>