// Define mixins
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tab {
  @media screen and (max-width: 720px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

// Use mixins
* {
  padding: 0px;
  margin: 0px;
  top: 0px;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  .logo {
    width: 20px;
    height: 20px;
    a {
      color: #ad8b73;
      text-decoration: none;
      span {
        font-weight: bold;
      }
    }
  }
  ul {
    li {
      display: inline;
      padding: 1rem;
      a {
        text-decoration: none;
        color: #ad8b73;
      }
    }
  }
  .contact_me {
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
    border: 0.5px solid #ad8b73;
    cursor: pointer;
  }
}
