// Define mixins
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tab {
  @media screen and (max-width: 720px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

// Use mixins
* {
  padding: 0px;
  margin: 0px;
  top: 0px;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  .logo {
    width: 20px;
    height: 20px;
    a {
      color: #ad8b73;
      text-decoration: none;
      span {
        font-weight: bold;
      }
    }
  }
  ul {
    li {
      display: inline;
      padding: 1rem;
      a {
        font-weight: 450;
        text-decoration: none;
        color: #ad8b73;
      }
    }
  }
  .contact_me {
    padding: 0.4rem 0.6rem;
    color: #ad8b73;
    border-radius: 1rem;
    border: 0.5px solid #ad8b73;
    cursor: pointer;
  }
}

.hero_section {
  display: flex;
  margin: auto;
  .left_hero {
    height: 90%;
    width: 50%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    .line {
      height: 30rem;
      width: 2px;
      background-color: #ad8b73;
    }
    .contents {
      p {
        color: gray;
      }
      p:first-child {
        text-transform: uppercase;
        font-size: x-large;
      }
      p:nth-child(2) {
        font-weight: bold;
        font-size: 3.5rem;
        color: #ad8b73;
        margin: 2rem 0rem;
      }
      .btn {
        text-transform: uppercase;
        padding: 0.75rem 1.5rem;
        border-radius: 2rem;
        color: white;
        background-color: #ad8b73;
        border: 2px solid #ad8b73;
        margin-top: 2rem;
      }
    }
  }
  .right_hero {
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
  }
}
