<div class="menu">
    <div class="sorting"></div>
    <div class="items">
        <div class="item">
            <div class="image-field">
                <img src="assets\images\smoothie3.jpg" alt="">
            </div>
            <div class="name-details-price">
                <p>Iteam Name</p>
                <div class="in-details">
                    <small>alk alsgk</small><br>
                    <small>alk alsgk</small><br>
                    <small>alk alsgk</small><br>
                </div>
                <p>Price : ₹ 50</p>
            </div>
            <div class="ratting-cart-btn">
                <small>Ratting:<br>★★★★★</small>
                <button class="cart-btn"><i class='bx bx-md bx-cart-add'></i></button>

            </div>
        </div>
        <div class="item">
            <div class="image-field">
                <img src="assets\images\smoothie2.jpg" alt="">
            </div>
            <div class="name-details-price">
                <p>Iteam Name</p>
                <div class="in-details">
                    <small>alk alsgk</small><br>
                    <small>alk alsgk</small><br>
                    <small>alk alsgk</small><br>
                </div>
                <p>Price : ₹ 50</p>
            </div>
            <div class="ratting-cart-btn">
                <small>Ratting <br>★★★★☆</small>
                <button class="cart-btn"><i class='bx bx-md bx-cart-add'></i></button>

            </div>
        </div>
        <div class="item">
            <div class="image-field">
                <img src="assets\images\smoothie1.jpg" alt="">
            </div>
            <div class="name-details-price">
                <p>Iteam Name</p>
                <div class="in-details">
                    <small>alk alsgk</small><br>
                    <small>alk alsgk</small><br>
                    <small>alk alsgk</small><br>
                </div>
                <p>Price : ₹ 50</p>
            </div>
            <div class="ratting-cart-btn">
                <small>Ratting:<br>★★★★★</small>
                <button class="cart-btn"><i class='bx bx-md bx-cart-add'></i></button>
            </div>
        </div>
        <div class="item">
            <div class="image-field">
                <img src="assets\images\smoothie5.jpg" alt="">
            </div>
            <div class="name-details-price">
                <p>Iteam Name</p>
                <div class="in-details">
                    <small>alk alsgk</small><br>
                    <small>alk alsgk</small><br>
                    <small>alk alsgk</small><br>
                </div>
                <p>Price : ₹ 50</p>
            </div>
            <div class="ratting-cart-btn">
                <small>Ratting:<br>★★★★★</small>
                <button class="cart-btn"><i class='bx bx-md bx-cart-add'></i></button>
            </div>
        </div>
        <div class="item">
            <div class="image-field">
                <img src="assets\images\smoothie4.jpg" alt="">
            </div>
            <div class="name-details-price">
                <p>Iteam Name</p>
                <div class="in-details">
                    <small>alk alsgk</small><br>
                    <small>alk alsgk</small><br>
                    <small>alk alsgk</small><br>
                </div>
                <p>Price : ₹ 50</p>
            </div>
            <div class="ratting-cart-btn">
                <small>Ratting:<br>★★★★★</small>
                <button class="cart-btn"><i class='bx bx-md bx-cart-add'></i></button>
            </div>
        </div>
    </div>
</div>