<!-- <div class="outer">
    <form #signInForm="ngForm" (ngSubmit)="SignUpUser(signInForm.value)">
        <input type="text" name="name" ngModel placeholder="Enter Your Name">
        <input type="email" ngModel name="email" placeholder="Enter Your Email">
        <input type="password" ngModel name="password" placeholder="Enter Password">
        <input type="password" ngModel name="confarmpassword" placeholder="Confarm Password">
        <button>SING UP</button>
        <a routerLink="../sign-in">Already have acount</a>
    </form>
</div> -->
<section class="sign-form">
    <form #signInForm="ngForm" class="sign-up-form">
        <h1>Welcome Back!</h1>
        <div class="sign-up-input-container">
            <input class="input-content" ngModel [minlength]="3" type="test" name="fullname" placeholder="" maxlength="50"
                required />
            <label>Name</label>
        </div>
        <div class="sign-up-input-container">
            <input class="input-content" ngModel [email]="true" type="email" name="email" placeholder="" maxlength="50"
                required />
            <label>Email</label>
        </div>
        <div class="sign-up-input-container">
            <input class="input-content" ngModel minlength="10" placeholder="" type="number" name="phoneNumber"
                maxlength="10" required />
            <label>Phone Number</label>
        </div>
        <div class="sign-up-input-container">
            <input class="input-content" ngModel placeholder="" minlength="6" [type]="showPassword ? 'text' : 'password'" name="password"
                maxlength="50" required />
            <label>Password</label>
            <button class="password-toggle" type="button" (click)="showPassword = !showPassword">
                <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
        </div>        
        <div class="sign-up-input-container">
            <input class="input-content" ngModel placeholder="" minlength="6"  name="confirmpassword"
                maxlength="50" required #confirmpassword="ngModel" />
            <label>Confirm Password</label>
            <div *ngIf="signInForm.controls['password'].value !== signInForm.controls['confirmpassword'].value && confirmpassword.touched">
                <p class="error-message" style="color: red;">Passwords do not match</p>
            </div>
        </div>
        <div class="sign-up-btn" (click)="SignUpUser(signInForm)">
            <p>Sign Up</p>
        </div>
        <div class="sign-in">
            <p>Already have account <b><a routerLink="../sign-in">Sign-in!</a></b></p>
        </div>
    </form>
</section>