<div class="cart">
    <section class="left">
        <div class="address">
            <div class="address-details">
                <p> Deliver to :User Name , 302019 <small><button disabled>HOME</button></small></p>
                <p>85 , Gardenia Hostel, Everest Vihar , Kings Road...</p>
            </div>
            <button>Change</button>
        </div>
        <div class="cart-items">
            <div class="item">
                <img src="assets\images\smoothie5.jpg" alt="">
                <div class="item-details">
                    <p>Banana Smoothies</p>
                    <p>Price : <small>50 Rs</small></p>
                    <div class="quantity">
                        <button> - </button>
                        <span>1</span>
                        <button> + </button>
                    </div>

                </div>
                <div class="order-or-not">
                    <div class="delivey-time">
                        <p>Delivery in 2 days, Sat |</p>
                        <p><small>₹40 Free</small></p>
                    </div>
                    <div class="buttons">
                        <button>Remove</button>
                        <button>Move to favourite</button>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="right">
        <p>PRICE DETAILS</p>
        <br>
        <p>Price (2 items)₹14,204</p>
        <p>Discount− ₹3,242</p>
        <p>Delivery Charges ₹80Free</p>
        <p>Secured Packaging Fee ₹29</p>
        <p>Total Amount ₹10,991</p>
        <p>You will save ₹3,213 on this order</p>

    </section>
</div>